﻿@model mechpredictweb.Models.IndexClass
@{
    ViewData["Title"] = "Прогноз";
    string str = @Model.SelectModel;

    int i1 = 1;
    int i2 = 1;
}

<style>
    .table_td{
        overflow-wrap:initial;
        align-content:center;
        text-wrap:none;
        overflow:hidden;
        text-overflow:ellipsis;
    }
</style>
<script type="text/javascript" src="~/js/index.js"></script>
<form asp-action="Calculate" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                <label class="control-label" for="models">Выберете модель:</label>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                <select class="form-control" id="models" name="model" asp-for="SelectModel" asp-items="Model.Models">
                </select>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">
                <label class="control-label">Файл:</label>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <input type="file" name="file" class="dropzone form-control" style="width:100%; margin:auto; border-style:dotted" />
            </div>
        </div>
        @*<div class="row form-inline">
            <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12">
                <label class="control-label">Файл:</label>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                <input type="file" name="file" class="dropzone form-control" style="width:100%; margin:auto; border-style:dotted" />
            </div>
        </div>*@
        <div class="row" style="align-content:center">
            <input type="submit" class="btn btn-success form-control" style="max-width:350px;margin:0.4rem" value="Рассчитать" />
        </div>
        @if (Model.Data != null)
        {

            <div class="container-fluid">
                <div class="row">
                    <div class="table-responsive row">
                        <table class="table table-bordered table-striped text-center table-editable" id="table_result">
                            <thead>
                                <tr class="table-dark">
                                    <th>#</th>
                                    <th><b>FPT</b></th>
                                    <th><b>FVS</b></th>
                                    <th><b>FUV</b></th>
                                    <th><b>FDV</b></th>
                                    <th><b>DWTT</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Data.results)
                                {
                                    <tr>
                                        <td>@i1</td>
                                        <td style="color:forestgreen;font-weight:700">@item.FPT</td>
                                        <td style="color:forestgreen;font-weight:700">@item.FVS</td>
                                        <td style="color:forestgreen;font-weight:700">@item.FUV</td>
                                        <td style="color:forestgreen;font-weight:700">@item.FDV</td>
                                        <td style="color:forestgreen;font-weight:700">@item.DWTT</td>
                                    </tr>
                                    i1++;
                                   
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive row">

                    <table class="table table-bordered table-striped text-center table-editable" id="table_data">
                        <thead>
                            <tr class="table-dark">
                                <th>#</th>
                                <th>ИД_СЛЯБА</th>
                                <th>ПР_ГП</th>
                                <th>Д_ПРОКАТА</th>
                                <th>ЗАКАЗ</th>
                                <th>ПОЗИЦИЯ</th>
                                <th>ПЛАВКА</th>
                                <th>ТИПТЕХЭСПЦ</th>
                                <th>ПР_УВС</th>
                                <th>ПАРТИЯ</th>
                                <th>ДИАП_ПАРТ</th>
                                <th>N_СЛЯБ</th>
                                <th>ДИАП_СЛЯБ</th>
                                <th>МАРКА</th>
                                <th>ТЕХТРЕБ</th>
                                <th>К_МАРКИ</th>
                                <th>H_СЛЯБ</th>
                                <th>B_СЛЯБ</th>
                                <th>L_СЛЯБ</th>
                                <th>ВЕС_СЛ</th>
                                <th>ВЕСФ_СЛ</th>
                                <th>H_ЛИСТ</th>
                                <th>B_ЛИСТ</th>
                                <th>L_ЛИСТ</th>
                                <th>КРАТ</th>
                                <th>Д_Н_1_ДЛ</th>
                                <th>Д_Н_2_ДЛ</th>
                                <th>Д_Н_3_ДЛ</th>
                                <th>ПЕЧЬ_РЯД</th>
                                <th>ЗАГР_ПЕЧЬ</th>
                                <th>ВЫГР_ПЕЧЬ</th>
                                <th>ДЛИТ_ПЕЧЬ</th>
                                <th>ПЛ_Т_ПЕЧЬ</th>
                                <th>ФК_Т_ПЕЧЬ</th>
                                <th>СХЕМА_ПРОК</th>
                                <th>ДУО_ПРОХ</th>
                                <th>ДУО_ХОЛОСТ</th>
                                <th>ГИДРОСБИВ</th>
                                <th>ДУО_ОБЖ_01</th>
                                <th>ДУО_ОБЖ_02</th>
                                <th>ДУО_ОБЖ_03</th>
                                <th>ДУО_ОБЖ_04</th>
                                <th>ДУО_ОБЖ_05</th>
                                <th>ДУО_ОБЖ_06</th>
                                <th>ДУО_ОБЖ_07</th>
                                <th>ДУО_ОБЖ_08</th>
                                <th>ДУО_ОБЖ_09</th>
                                <th>ДУО_ОБЖ_10</th>
                                <th>ДУО_ОБЖ_11</th>
                                <th>ДУО_ОБЖ_12</th>
                                <th>ДУО_ОБЖ_13</th>
                                <th>ДУО_ОБЖ_14</th>
                                <th>ДУО_ОБЖ_15</th>
                                <th>ДУО_УСС_01</th>
                                <th>ДУО_УСС_02</th>
                                <th>ДУО_УСС_03</th>
                                <th>ДУО_УСС_04</th>
                                <th>ДУО_УСС_05</th>
                                <th>ДУО_УСС_06</th>
                                <th>ДУО_УСС_07</th>
                                <th>ДУО_УСС_08</th>
                                <th>ДУО_УСС_09</th>
                                <th>ДУО_УСС_10</th>
                                <th>ДУО_УСС_11</th>
                                <th>ДУО_УСС_12</th>
                                <th>ДУО_УСС_13</th>
                                <th>ДУО_УСС_14</th>
                                <th>ДУО_УСС_15</th>
                                <th>ДУО_УСП_01</th>
                                <th>ДУО_УСП_02</th>
                                <th>ДУО_УСП_03</th>
                                <th>ДУО_УСП_04</th>
                                <th>ДУО_УСП_05</th>
                                <th>ДУО_УСП_06</th>
                                <th>ДУО_УСП_07</th>
                                <th>ДУО_УСП_08</th>
                                <th>ДУО_УСП_09</th>
                                <th>ДУО_УСП_10</th>
                                <th>ДУО_УСП_11</th>
                                <th>ДУО_УСП_12</th>
                                <th>ДУО_УСП_13</th>
                                <th>ДУО_УСП_14</th>
                                <th>ДУО_УСП_15</th>
                                <th>ДУО_СКР_01</th>
                                <th>ДУО_СКР_02</th>
                                <th>ДУО_СКР_03</th>
                                <th>ДУО_СКР_04</th>
                                <th>ДУО_СКР_05</th>
                                <th>ДУО_СКР_06</th>
                                <th>ДУО_СКР_07</th>
                                <th>ДУО_СКР_08</th>
                                <th>ДУО_СКР_09</th>
                                <th>ДУО_СКР_10</th>
                                <th>ДУО_СКР_11</th>
                                <th>ДУО_СКР_12</th>
                                <th>ДУО_СКР_13</th>
                                <th>ДУО_СКР_14</th>
                                <th>ДУО_СКР_15</th>
                                <th>ДУО_Т_3_ПР</th>
                                <th>ДУО_Т_ПОСЛ</th>
                                <th>УДО</th>
                                <th>УМО</th>
                                <th>ПОДКАТ</th>
                                <th>КВР_ОБЖ_01</th>
                                <th>КВР_ОБЖ_02</th>
                                <th>КВР_ОБЖ_03</th>
                                <th>КВР_ОБЖ_04</th>
                                <th>КВР_ОБЖ_05</th>
                                <th>КВР_ОБЖ_06</th>
                                <th>КВР_ОБЖ_07</th>
                                <th>КВР_ОБЖ_08</th>
                                <th>КВР_ОБЖ_09</th>
                                <th>КВР_ОБЖ_10</th>
                                <th>КВР_ОБЖ_11</th>
                                <th>КВР_ОБЖ_12</th>
                                <th>КВР_ОБЖ_13</th>
                                <th>КВР_ОБЖ_14</th>
                                <th>КВР_ОБЖ_15</th>
                                <th>КВР_УСС_01</th>
                                <th>КВР_УСС_02</th>
                                <th>КВР_УСС_03</th>
                                <th>КВР_УСС_04</th>
                                <th>КВР_УСС_05</th>
                                <th>КВР_УСС_06</th>
                                <th>КВР_УСС_07</th>
                                <th>КВР_УСС_08</th>
                                <th>КВР_УСС_09</th>
                                <th>КВР_УСС_10</th>
                                <th>КВР_УСС_11</th>
                                <th>КВР_УСС_12</th>
                                <th>КВР_УСС_13</th>
                                <th>КВР_УСС_14</th>
                                <th>КВР_УСС_15</th>
                                <th>КВР_УСП_01</th>
                                <th>КВР_УСП_02</th>
                                <th>КВР_УСП_03</th>
                                <th>КВР_УСП_04</th>
                                <th>КВР_УСП_05</th>
                                <th>КВР_УСП_06</th>
                                <th>КВР_УСП_07</th>
                                <th>КВР_УСП_08</th>
                                <th>КВР_УСП_09</th>
                                <th>КВР_УСП_10</th>
                                <th>КВР_УСП_11</th>
                                <th>КВР_УСП_12</th>
                                <th>КВР_УСП_13</th>
                                <th>КВР_УСП_14</th>
                                <th>КВР_УСП_15</th>
                                <th>КВР_СКР_01</th>
                                <th>КВР_СКР_02</th>
                                <th>КВР_СКР_03</th>
                                <th>КВР_СКР_04</th>
                                <th>КВР_СКР_05</th>
                                <th>КВР_СКР_06</th>
                                <th>КВР_СКР_07</th>
                                <th>КВР_СКР_08</th>
                                <th>КВР_СКР_09</th>
                                <th>КВР_СКР_10</th>
                                <th>КВР_СКР_11</th>
                                <th>КВР_СКР_12</th>
                                <th>КВР_СКР_13</th>
                                <th>КВР_СКР_14</th>
                                <th>КВР_СКР_15</th>
                                <th>DELTA1_2</th>
                                <th>DELTA2_3</th>
                                <th>DELTA3_4</th>
                                <th>DELTA4_5</th>
                                <th>DELTA5_6</th>
                                <th>DELTA6_7</th>
                                <th>DELTA7_8</th>
                                <th>DELTA8_9</th>
                                <th>DELTA9_10</th>
                                <th>DELTA10_11</th>
                                <th>DELTA11_12</th>
                                <th>DELTA12_13</th>
                                <th>DELTA13_14</th>
                                <th>DELTA14_15</th>
                                <th>КВР_Т_ПЛАН</th>
                                <th>КВР_Т_1_ПР</th>
                                <th>S2_START</th>
                                <th>КВР_Т_ПОСЛ</th>
                                <th>ВМЕШ_ТЕМП</th>
                                <th>КВР_ПРОХ</th>
                                <th>КВР_ХОЛОСТ</th>
                                <th>УКО_СТРАТ</th>
                                <th>УКО_Т_ПЛАН</th>
                                <th>УКО_И_ПЛАН</th>
                                <th>УКО_НАЧАЛО</th>
                                <th>УКО_Т_НАЧ</th>
                                <th>УКО_Т_КОН</th>
                                <th>УКО_ИНТ</th>
                                <th>УКО_СКОР</th>
                                <th>УКО_ВЕРХ_С</th>
                                <th>УКО_НИЖН_С</th>
                                <th>НАЧ_ПРОКАТ</th>
                                <th>ПЕЧЬ_ДУО</th>
                                <th>ДУО_ВРЕМЯ</th>
                                <th>ДУО_КВР</th>
                                <th>КВР_ВРЕМЯ</th>
                                <th>УКО_ВРЕМЯ</th>
                                <th>КОН_ПРОКАТ</th>
                                <th>КОЛ_СЛ_НАЧ</th>
                                <th>КОЛ_СЛ_КОН</th>
                                <th>КОД_ОШИБКИ</th>
                                <th>КОД_ЦЛК</th>
                                <th>УГЛ_ЭКВ</th>
                                <th>КХС</th>
                                <th>C</th>
                                <th>SI</th>
                                <th>MN</th>
                                <th>P</th>
                                <th>S</th>
                                <th>CR</th>
                                <th>NI</th>
                                <th>CU</th>
                                <th>TI</th>
                                <th>AL</th>
                                <th>N2</th>
                                <th>NB</th>
                                <th>V</th>
                                <th>B</th>
                                <th>MO</th>
                                <th>СТОППИР</th>
                                <th>NOMP</th>
                                <th>VTR</th>
                                <th>NISP</th>
                                <th>ISP_OB</th>
                                <th>FPT</th>
                                <th>FVS</th>
                                <th>FOYD</th>
                                <th>FOS</th>
                                <th>FPTP</th>
                                <th>FVSP</th>
                                <th>FOYDP</th>
                                <th>FYDR</th>
                                <th>TUV1</th>
                                <th>T_KCU</th>
                                <th>FUV_1</th>
                                <th>FUV_2</th>
                                <th>FUV_3</th>
                                <th>TUV2</th>
                                <th>T_KCV</th>
                                <th>FDV_1</th>
                                <th>FDV_2</th>
                                <th>FDV_3</th>
                                <th>T_KCD</th>
                                <th>DWTT1</th>
                                <th>DWTT2</th>
                                <th>T_KCDV</th>
                                <th>DVC1</th>
                                <th>DVC2</th>
                                <th>DVC3</th>
                                <th>NB1</th>
                                <th>NB2</th>
                                <th>VPN</th>
                                <th>VPV</th>
                                <th>FPT05</th>
                                <th>FPTP05</th>
                                <th>PRVLU</th>
                                <th>PRVLV</th>
                                <th>PRVVC</th>
                                <th>PRLDW</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data.data)
                            {
                                <tr>
                                    <td>@i2</td>
                                    <td contenteditable="true">@item.ИД_СЛЯБА</td>
                                    <td contenteditable="true">@item.ПР_ГП</td>
                                    <td contenteditable="true">@item.Д_ПРОКАТА</td>
                                    <td contenteditable="true">@item.ЗАКАЗ</td>
                                    <td contenteditable="true">@item.ПОЗИЦИЯ</td>
                                    <td contenteditable="true">@item.ПЛАВКА</td>
                                    <td contenteditable="true">@item.ТИПТЕХЭСПЦ</td>
                                    <td contenteditable="true">@item.ПР_УВС</td>
                                    <td contenteditable="true">@item.ПАРТИЯ</td>
                                    <td contenteditable="true">@item.ДИАП_ПАРТ</td>
                                    <td contenteditable="true">@item.N_СЛЯБ</td>
                                    <td contenteditable="true">@item.ДИАП_СЛЯБ</td>
                                    <td contenteditable="true">@item.МАРКА</td>
                                    <td contenteditable="true">@item.ТЕХТРЕБ</td>
                                    <td contenteditable="true">@item.К_МАРКИ</td>
                                    <td contenteditable="true">@item.H_СЛЯБ</td>
                                    <td contenteditable="true">@item.B_СЛЯБ</td>
                                    <td contenteditable="true">@item.L_СЛЯБ</td>
                                    <td contenteditable="true">@item.ВЕС_СЛ</td>
                                    <td contenteditable="true">@item.ВЕСФ_СЛ</td>
                                    <td contenteditable="true">@item.H_ЛИСТ</td>
                                    <td contenteditable="true">@item.B_ЛИСТ</td>
                                    <td contenteditable="true">@item.L_ЛИСТ</td>
                                    <td contenteditable="true">@item.КРАТ</td>
                                    <td contenteditable="true">@item.Д_Н_1_ДЛ</td>
                                    <td contenteditable="true">@item.Д_Н_2_ДЛ</td>
                                    <td contenteditable="true">@item.Д_Н_3_ДЛ</td>
                                    <td contenteditable="true">@item.ПЕЧЬ_РЯД</td>
                                    <td contenteditable="true">@item.ЗАГР_ПЕЧЬ</td>
                                    <td contenteditable="true">@item.ВЫГР_ПЕЧЬ</td>
                                    <td contenteditable="true">@item.ДЛИТ_ПЕЧЬ</td>
                                    <td contenteditable="true">@item.ПЛ_Т_ПЕЧЬ</td>
                                    <td contenteditable="true">@item.ФК_Т_ПЕЧЬ</td>
                                    <td contenteditable="true">@item.СХЕМА_ПРОК</td>
                                    <td contenteditable="true">@item.ДУО_ПРОХ</td>
                                    <td contenteditable="true">@item.ДУО_ХОЛОСТ</td>
                                    <td contenteditable="true">@item.ГИДРОСБИВ</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_01</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_02</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_03</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_04</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_05</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_06</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_07</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_08</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_09</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_10</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_11</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_12</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_13</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_14</td>
                                    <td contenteditable="true">@item.ДУО_ОБЖ_15</td>
                                    <td contenteditable="true">@item.ДУО_УСС_01</td>
                                    <td contenteditable="true">@item.ДУО_УСС_02</td>
                                    <td contenteditable="true">@item.ДУО_УСС_03</td>
                                    <td contenteditable="true">@item.ДУО_УСС_04</td>
                                    <td contenteditable="true">@item.ДУО_УСС_05</td>
                                    <td contenteditable="true">@item.ДУО_УСС_06</td>
                                    <td contenteditable="true">@item.ДУО_УСС_07</td>
                                    <td contenteditable="true">@item.ДУО_УСС_08</td>
                                    <td contenteditable="true">@item.ДУО_УСС_09</td>
                                    <td contenteditable="true">@item.ДУО_УСС_10</td>
                                    <td contenteditable="true">@item.ДУО_УСС_11</td>
                                    <td contenteditable="true">@item.ДУО_УСС_12</td>
                                    <td contenteditable="true">@item.ДУО_УСС_13</td>
                                    <td contenteditable="true">@item.ДУО_УСС_14</td>
                                    <td contenteditable="true">@item.ДУО_УСС_15</td>
                                    <td contenteditable="true">@item.ДУО_УСП_01</td>
                                    <td contenteditable="true">@item.ДУО_УСП_02</td>
                                    <td contenteditable="true">@item.ДУО_УСП_03</td>
                                    <td contenteditable="true">@item.ДУО_УСП_04</td>
                                    <td contenteditable="true">@item.ДУО_УСП_05</td>
                                    <td contenteditable="true">@item.ДУО_УСП_06</td>
                                    <td contenteditable="true">@item.ДУО_УСП_07</td>
                                    <td contenteditable="true">@item.ДУО_УСП_08</td>
                                    <td contenteditable="true">@item.ДУО_УСП_09</td>
                                    <td contenteditable="true">@item.ДУО_УСП_10</td>
                                    <td contenteditable="true">@item.ДУО_УСП_11</td>
                                    <td contenteditable="true">@item.ДУО_УСП_12</td>
                                    <td contenteditable="true">@item.ДУО_УСП_13</td>
                                    <td contenteditable="true">@item.ДУО_УСП_14</td>
                                    <td contenteditable="true">@item.ДУО_УСП_15</td>
                                    <td contenteditable="true">@item.ДУО_СКР_01</td>
                                    <td contenteditable="true">@item.ДУО_СКР_02</td>
                                    <td contenteditable="true">@item.ДУО_СКР_03</td>
                                    <td contenteditable="true">@item.ДУО_СКР_04</td>
                                    <td contenteditable="true">@item.ДУО_СКР_05</td>
                                    <td contenteditable="true">@item.ДУО_СКР_06</td>
                                    <td contenteditable="true">@item.ДУО_СКР_07</td>
                                    <td contenteditable="true">@item.ДУО_СКР_08</td>
                                    <td contenteditable="true">@item.ДУО_СКР_09</td>
                                    <td contenteditable="true">@item.ДУО_СКР_10</td>
                                    <td contenteditable="true">@item.ДУО_СКР_11</td>
                                    <td contenteditable="true">@item.ДУО_СКР_12</td>
                                    <td contenteditable="true">@item.ДУО_СКР_13</td>
                                    <td contenteditable="true">@item.ДУО_СКР_14</td>
                                    <td contenteditable="true">@item.ДУО_СКР_15</td>
                                    <td contenteditable="true">@item.ДУО_Т_3_ПР</td>
                                    <td contenteditable="true">@item.ДУО_Т_ПОСЛ</td>
                                    <td contenteditable="true">@item.УДО</td>
                                    <td contenteditable="true">@item.УМО</td>
                                    <td contenteditable="true">@item.ПОДКАТ</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_01</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_02</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_03</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_04</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_05</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_06</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_07</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_08</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_09</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_10</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_11</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_12</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_13</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_14</td>
                                    <td contenteditable="true">@item.КВР_ОБЖ_15</td>
                                    <td contenteditable="true">@item.КВР_УСС_01</td>
                                    <td contenteditable="true">@item.КВР_УСС_02</td>
                                    <td contenteditable="true">@item.КВР_УСС_03</td>
                                    <td contenteditable="true">@item.КВР_УСС_04</td>
                                    <td contenteditable="true">@item.КВР_УСС_05</td>
                                    <td contenteditable="true">@item.КВР_УСС_06</td>
                                    <td contenteditable="true">@item.КВР_УСС_07</td>
                                    <td contenteditable="true">@item.КВР_УСС_08</td>
                                    <td contenteditable="true">@item.КВР_УСС_09</td>
                                    <td contenteditable="true">@item.КВР_УСС_10</td>
                                    <td contenteditable="true">@item.КВР_УСС_11</td>
                                    <td contenteditable="true">@item.КВР_УСС_12</td>
                                    <td contenteditable="true">@item.КВР_УСС_13</td>
                                    <td contenteditable="true">@item.КВР_УСС_14</td>
                                    <td contenteditable="true">@item.КВР_УСС_15</td>
                                    <td contenteditable="true">@item.КВР_УСП_01</td>
                                    <td contenteditable="true">@item.КВР_УСП_02</td>
                                    <td contenteditable="true">@item.КВР_УСП_03</td>
                                    <td contenteditable="true">@item.КВР_УСП_04</td>
                                    <td contenteditable="true">@item.КВР_УСП_05</td>
                                    <td contenteditable="true">@item.КВР_УСП_06</td>
                                    <td contenteditable="true">@item.КВР_УСП_07</td>
                                    <td contenteditable="true">@item.КВР_УСП_08</td>
                                    <td contenteditable="true">@item.КВР_УСП_09</td>
                                    <td contenteditable="true">@item.КВР_УСП_10</td>
                                    <td contenteditable="true">@item.КВР_УСП_11</td>
                                    <td contenteditable="true">@item.КВР_УСП_12</td>
                                    <td contenteditable="true">@item.КВР_УСП_13</td>
                                    <td contenteditable="true">@item.КВР_УСП_14</td>
                                    <td contenteditable="true">@item.КВР_УСП_15</td>
                                    <td contenteditable="true">@item.КВР_СКР_01</td>
                                    <td contenteditable="true">@item.КВР_СКР_02</td>
                                    <td contenteditable="true">@item.КВР_СКР_03</td>
                                    <td contenteditable="true">@item.КВР_СКР_04</td>
                                    <td contenteditable="true">@item.КВР_СКР_05</td>
                                    <td contenteditable="true">@item.КВР_СКР_06</td>
                                    <td contenteditable="true">@item.КВР_СКР_07</td>
                                    <td contenteditable="true">@item.КВР_СКР_08</td>
                                    <td contenteditable="true">@item.КВР_СКР_09</td>
                                    <td contenteditable="true">@item.КВР_СКР_10</td>
                                    <td contenteditable="true">@item.КВР_СКР_11</td>
                                    <td contenteditable="true">@item.КВР_СКР_12</td>
                                    <td contenteditable="true">@item.КВР_СКР_13</td>
                                    <td contenteditable="true">@item.КВР_СКР_14</td>
                                    <td contenteditable="true">@item.КВР_СКР_15</td>
                                    <td contenteditable="true">@item.DELTA1_2</td>
                                    <td contenteditable="true">@item.DELTA2_3</td>
                                    <td contenteditable="true">@item.DELTA3_4</td>
                                    <td contenteditable="true">@item.DELTA4_5</td>
                                    <td contenteditable="true">@item.DELTA5_6</td>
                                    <td contenteditable="true">@item.DELTA6_7</td>
                                    <td contenteditable="true">@item.DELTA7_8</td>
                                    <td contenteditable="true">@item.DELTA8_9</td>
                                    <td contenteditable="true">@item.DELTA9_10</td>
                                    <td contenteditable="true">@item.DELTA10_11</td>
                                    <td contenteditable="true">@item.DELTA11_12</td>
                                    <td contenteditable="true">@item.DELTA12_13</td>
                                    <td contenteditable="true">@item.DELTA13_14</td>
                                    <td contenteditable="true">@item.DELTA14_15</td>
                                    <td contenteditable="true">@item.КВР_Т_ПЛАН</td>
                                    <td contenteditable="true">@item.КВР_Т_1_ПР</td>
                                    <td contenteditable="true">@item.S2_START</td>
                                    <td contenteditable="true">@item.КВР_Т_ПОСЛ</td>
                                    <td contenteditable="true">@item.ВМЕШ_ТЕМП</td>
                                    <td contenteditable="true">@item.КВР_ПРОХ</td>
                                    <td contenteditable="true">@item.КВР_ХОЛОСТ</td>
                                    <td contenteditable="true">@item.УКО_СТРАТ</td>
                                    <td contenteditable="true">@item.УКО_Т_ПЛАН</td>
                                    <td contenteditable="true">@item.УКО_И_ПЛАН</td>
                                    <td contenteditable="true">@item.УКО_НАЧАЛО</td>
                                    <td contenteditable="true">@item.УКО_Т_НАЧ</td>
                                    <td contenteditable="true">@item.УКО_Т_КОН</td>
                                    <td contenteditable="true">@item.УКО_ИНТ</td>
                                    <td contenteditable="true">@item.УКО_СКОР</td>
                                    <td contenteditable="true">@item.УКО_ВЕРХ_С</td>
                                    <td contenteditable="true">@item.УКО_НИЖН_С</td>
                                    <td contenteditable="true">@item.НАЧ_ПРОКАТ</td>
                                    <td contenteditable="true">@item.ПЕЧЬ_ДУО</td>
                                    <td contenteditable="true">@item.ДУО_ВРЕМЯ</td>
                                    <td contenteditable="true">@item.ДУО_КВР</td>
                                    <td contenteditable="true">@item.КВР_ВРЕМЯ</td>
                                    <td contenteditable="true">@item.УКО_ВРЕМЯ</td>
                                    <td contenteditable="true">@item.КОН_ПРОКАТ</td>
                                    <td contenteditable="true">@item.КОЛ_СЛ_НАЧ</td>
                                    <td contenteditable="true">@item.КОЛ_СЛ_КОН</td>
                                    <td contenteditable="true">@item.КОД_ОШИБКИ</td>
                                    <td contenteditable="true">@item.КОД_ЦЛК</td>
                                    <td contenteditable="true">@item.УГЛ_ЭКВ</td>
                                    <td contenteditable="true">@item.КХС</td>
                                    <td contenteditable="true">@item.C</td>
                                    <td contenteditable="true">@item.SI</td>
                                    <td contenteditable="true">@item.MN</td>
                                    <td contenteditable="true">@item.P</td>
                                    <td contenteditable="true">@item.S</td>
                                    <td contenteditable="true">@item.CR</td>
                                    <td contenteditable="true">@item.NI</td>
                                    <td contenteditable="true">@item.CU</td>
                                    <td contenteditable="true">@item.TI</td>
                                    <td contenteditable="true">@item.AL</td>
                                    <td contenteditable="true">@item.N2</td>
                                    <td contenteditable="true">@item.NB</td>
                                    <td contenteditable="true">@item.V</td>
                                    <td contenteditable="true">@item.B</td>
                                    <td contenteditable="true">@item.MO</td>
                                    <td contenteditable="true">@item.СТОППИР</td>
                                    <td contenteditable="true">@item.NOMP</td>
                                    <td contenteditable="true">@item.VTR</td>
                                    <td contenteditable="true">@item.NISP</td>
                                    <td contenteditable="true">@item.ISP_OB</td>
                                    <td contenteditable="true">@item.FPT</td>
                                    <td contenteditable="true">@item.FVS</td>
                                    <td contenteditable="true">@item.FOYD</td>
                                    <td contenteditable="true">@item.FOS</td>
                                    <td contenteditable="true">@item.FPTP</td>
                                    <td contenteditable="true">@item.FVSP</td>
                                    <td contenteditable="true">@item.FOYDP</td>
                                    <td contenteditable="true">@item.FYDR</td>
                                    <td contenteditable="true">@item.TUV1</td>
                                    <td contenteditable="true">@item.T_KCU</td>
                                    <td contenteditable="true">@item.FUV_1</td>
                                    <td contenteditable="true">@item.FUV_2</td>
                                    <td contenteditable="true">@item.FUV_3</td>
                                    <td contenteditable="true">@item.TUV2</td>
                                    <td contenteditable="true">@item.T_KCV</td>
                                    <td contenteditable="true">@item.FDV_1</td>
                                    <td contenteditable="true">@item.FDV_2</td>
                                    <td contenteditable="true">@item.FDV_3</td>
                                    <td contenteditable="true">@item.T_KCD</td>
                                    <td contenteditable="true">@item.DWTT1</td>
                                    <td contenteditable="true">@item.DWTT2</td>
                                    <td contenteditable="true">@item.T_KCDV</td>
                                    <td contenteditable="true">@item.DVC1</td>
                                    <td contenteditable="true">@item.DVC2</td>
                                    <td contenteditable="true">@item.DVC3</td>
                                    <td contenteditable="true">@item.NB1</td>
                                    <td contenteditable="true">@item.NB2</td>
                                    <td contenteditable="true">@item.VPN</td>
                                    <td contenteditable="true">@item.VPV</td>
                                    <td contenteditable="true">@item.FPT05</td>
                                    <td contenteditable="true">@item.FPTP05</td>
                                    <td contenteditable="true">@item.PRVLU</td>
                                    <td contenteditable="true">@item.PRVLV</td>
                                    <td contenteditable="true">@item.PRVVC</td>
                                    <td contenteditable="true">@item.PRLDW</td>
                                </tr>
                                i2++;
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        }
    </div>
</form>