﻿<link src="~/js/dropzone/dist/dropzone.css" type="text/css" />
<script src="~/js/dropzone/dist/dropzone.js" type="text/javascript"></script>

<form asp-action="CreateModel" asp-controller="Home" method="post" enctype="multipart/form-data">
    @*<div class="form-group">
        <label class="control-label">Название:</label>
        <input type="text" name="Name" class="form-control" />
    </div>*@
    <div class="form-group">
        <label class="control-label">Файл:</label>        
        <input type="file" name="uploadedFile"  class="dropzone form-control" style="width:100%; margin:auto; border-style:dotted"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-success"/>
    </div>
</form>