﻿@model mechpredictweb.Models.User
@{
    ViewData["Title"] = "Login";
}

<div>
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-4 col-xl-4"></div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-4 col-xl-4">
            <strong style="color:red"> @ViewBag.error </strong>
            <form method="post" asp-action="Logined" asp-controller="Home" style="width:auto;">
                <div class="form-group">
                    <input type="text" asp-for="Name" class="form-control" placeholder="Логин" />
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Пароль" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-4 col-xl-4"></div>
    </div>

</div>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
