﻿@model mechpredictweb.Models.Models_Root

@{
    ViewData["Title"] = "Models";
}
<style>
    .table-report td {
        text-align: left;
    }

    .btn {
        margin: 5px;
    }

    a td {
        font-family: Cambria;
        font-size: large;
        color: white;
    }

    .card {
        margin: 5px;
    }

    .images {
        width: 100%;
        min-width: 150px;
        max-width: 600px;
        height: 100%;
        min-height: 150px;
        max-height: 600px;
    }
</style>
<script type="text/javascript">
    function ClickImage(image) {
        if (image != undefined && image != null) {
            $('#modal_image').attr("src", image);
            $('#myModal').modal('show');
        }
    }
</script>
<div class="row">
    @foreach (var item in Model.models)
    {
        <div class="card">
            <div class="card-header">
                <h2>@item.name</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Metric</th>
                                <th>Samples</th>
                                <th>MAE</th>
                                <th>MAE train</th>
                                <th>MAE test</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>FPT</td>
                                <td>@item.metrics.FPT.Samples</td>
                                <td>@item.metrics.FPT.MAE</td>
                                <td>@item.metrics.FPT.MAEtrain</td>
                                <td>@item.metrics.FPT.MAEtest</td>
                            </tr>
                            <tr>
                                <td>FVS</td>
                                <td>@item.metrics.FVS.Samples</td>
                                <td>@item.metrics.FVS.MAE</td>
                                <td>@item.metrics.FVS.MAEtrain</td>
                                <td>@item.metrics.FVS.MAEtest</td>
                            </tr>
                            <tr>
                                <td>FDV</td>
                                <td>@item.metrics.FDV.Samples</td>
                                <td>@item.metrics.FDV.MAE</td>
                                <td>@item.metrics.FDV.MAEtrain</td>
                                <td>@item.metrics.FDV.MAEtest</td>
                            </tr>
                            <tr>
                                <td>FUV</td>
                                <td>@item.metrics.FUV.Samples</td>
                                <td>@item.metrics.FUV.MAE</td>
                                <td>@item.metrics.FUV.MAEtrain</td>
                                <td>@item.metrics.FUV.MAEtest</td>
                            </tr>
                            <tr>
                                <td>DWTT</td>
                                <td>@item.metrics.DWTT.Samples</td>
                                <td>@item.metrics.DWTT.MAE</td>
                                <td>@item.metrics.DWTT.MAEtrain</td>
                                <td>@item.metrics.DWTT.MAEtest</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>FPT</th>
                                <th>FVS</th>
                                <th>FDV</th>
                                <th>FUV</th>
                                <th>DWTT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <a href="javascript:ClickImage('@item.plots.FPT')"><img src="@item.plots.FPT" style="height:150px;width:15 0px" /></a></td>
                                <td><a href="javascript:ClickImage('@item.plots.FVS')"><img src="@item.plots.FVS" style="height:150px;width:150px" /></a></td>
                                <td><a href="javascript:ClickImage('@item.plots.FDV')"><img src="@item.plots.FDV" style="height:150px;width:150px" /></a></td>
                                <td><a href="javascript:ClickImage('@item.plots.FUV')"><img src="@item.plots.FUV" style="height:150px;width:150px" /></a></td>
                                <td><a href="javascript:ClickImage('@item.plots.DWTT')"><img src="@item.plots.DWTT" style="height:150px;width:150px" /></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="modal_image" class="images" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
